<div id="main-edit-article">
  <div class="container-wrapper">
    <div class="edit-article__heading">
      <h2 align="center">Update Article</h2>
      <div class="seperator"></div>
    </div>
    <%= render 'form' %>
  </div>
</div>

