<div id="main-new-article">
  <div class="container-wrapper">
    <div class="new-article__heading">
      <h2 align="center">Create Article</h2>
      <div class="seperator"></div>
    </div>
    <%= render 'form' %>
  </div>
</div>
