<div id="update-profile-modal">
  <div class="update-profile-modal-content">
    <div class="modal-close-button">
      <span id="btn-close"></span>
    </div>
    <div class="update-profile-header">
      <span>Update Profile</span>
    </div>
    <div class="profile-form-content">
      <%= render  "form" %>
    </div>
  </div>
</div>

<div class="update-profile-modal-overlay" id="modal-overlay"></div>
