<h2>Sign up for free to start sharing your inspiration and story</h2>
<div id="main-articles-listing">
  <div class="container-wrapper">
    <div class="articles-listing__heading">
      <h2>Featured Articles</h2>
      <div class="seperator"></div>
    </div>
    <div class="category__listing">
      <%= render  "article", obj: @articles %>
    </div>
  </div>
  <div  align="center">
    <%= will_paginate %>
  </div>
</div>