<div class="jumbotron">
  <h1>youBlog</h1>
  <%= link_to "Sign Up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
  <%= link_to 'youBlog', articles_path %> | <%= link_to 'About', about_path %>
</div>
