@import "variables";
@import "base";

// All Articles
#main-articles-listing {
  @include style-main-container(64px 20px 32px);

  .container-wrapper {
    .articles-listing-textbox {
      display: grid;
      grid-gap: 8%;
      align-items: center;

      .articles-textbox {
        justify-content: center;

        .textbox-primary {
          color: $color-grey;
          backface-visibility: hidden;
          margin-bottom: 28px;

          .textbox-primary--main {
            display: block;
            font-size: 28px;
            margin-bottom: 10px;
          }

          .textbox-primary--sub {
            display: block;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
          }
        }

        .textbox-btn {
          border: 0.75px solid $color-orange-first;
          border-radius: 10px;
          padding: 8px 16px;
          cursor: pointer;
          text-decoration: none;
          outline: none;
          color: $color-orange-first;

          &:hover {
            color: $color-white;
            background: $color-orange-first;
          }
        }
      }

      .articles-textbox-image {
        img {
          background-position: top;
          position: relative;
          flex: 1;
          width: 100%;
          height: 100%;
        }
      }
    }

    .articles-listing__heading {
      align-self: flex-start;
      margin: 24px 0 20px;

      .heading-primary {
        margin: 0;
        color: $color-grey;
        font-size: 20px;
        border-top: 1px $color-black-primary solid;
        padding-top: 40px;
        text-align: center;
      }
    }

    .article__listing {
      display: grid;
      grid-gap: 30px;
      justify-content: center;

      .article__wrapper {
        .article {
          min-height: 100%;
          background: $color-white;
          box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
          padding: 20px;
          border-radius: 4px;

          .article-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            color: $color-grey;
          }

          .seperator {
            @include style-seperator(64px);
          }

          .article-meta-details {
            @include style-article-meta-details;
          }

          .article-body {
            min-height: 50px;

            p {
              font-family: "Montserrat", sans-serif;
              color: $color-grey;
              margin: 14px 0;
            }
          }

          .article-category {
            @include style-article-categories;
          }

          .article-actions {
            @include style-article-actions(12px);
          }
        }
      }
    }
  }
}

// New Article
#main-new-article,
#main-edit-article {
  padding: 0;
  flex: 1;
  width: 100%;

  .container-wrapper {
    position: relative;
    margin: 60px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-article__heading,
    .edit-article__heading {
      align-self: flex-start;

      h2 {
        margin-bottom: 0;
        color: $color-grey;
        font-size: 24px;
      }

      .seperator {
        @include style-seperator(100px);
      }
    }

    .article-editor__wrapper {
      .new-article {
        #article_title {
          width: 100%;
          outline: none;
          margin: 1rem 0;
          padding: 1rem;
          background: $color-white;
          border: 1px solid $color-orange-second;
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
        }

        .ql-toolbar {
          border: 1px solid $color-orange-second !important;
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
          border-radius: 5px 5px 2px 2px;
          border: none;
          color: $color-grey;
        }

        .article_description-quill {
          border: 1px solid $color-orange-second;
          height: 300px;
          outline: none;
          margin: 1rem 0;
          padding: 12px;
          background: $color-white;
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
          border-radius: 5px;

          .ql-editor {
            p {
              font-family: "Josefin Sans", sans-serif;
            }
          }
        }

        .input_checkbox {
          color: $color-grey;
          font-size: 12px;

          .checkbox {
            border: 1px solid $color-orange-second;
            border-radius: 0.2rem;
            background: $color-white;
            width: 1rem;
            height: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          .checkbox:checked {
            background: $color-orange-second;
            border: $color-grey;
            outline: none;
          }
        }

        .new-article__actions {
          text-align: right;
          margin: 20px 16px;
          color: $color-orange-second;

          input[type="submit"] {
            border: 1px solid $color-orange-second;
            border-radius: 8px;
            padding: 6px 10px 4px;
            font-size: 14px;
            background: $color-white;

            &:hover {
              background: $color-orange-second;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}

// Single Artcle
#main-read-article {
  @include style-main-container(90px 12px 40px);
  justify-content: center;

  .container-wrapper {
    @include style-container-wrapper(0);
    background: $color-white;
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
    padding: 24px 12px;
    border: 1px solid #eaeaea;
    border-radius: 4px;

    .read-article__heading {
      @include style-list-heading(0 0 24px 16px);

      .article-title {
        @include style-header(20px);
      }

      .seperator {
        @include style-seperator(80px);
      }
    }

    .read-article__wrapper {
      .article-user__details {
        display: flex;
        align-items: center;

        .user__image {
          margin: 0 12px;
          img {
            width: 40px;
          }
        }

        .user-article-time__info {
          display: flex;
          flex-direction: column;
          color: $color-grey;
          margin-right: 40px;

          .user-name {
            font-size: 12px;

            a {
              color: $color-grey;
              text-decoration: none;
              font-weight: bold;
            }
          }

          small:nth-of-type(2) {
            font-size: 11px;
          }
        }

        .user-follow-btn {
          text-align: center;
          border: 1px solid $color-orange-first;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
          padding: 4px 12px;
          color: $color-orange-first;
          font-size: 12px;

          &:hover {
            color: $color-white;
            background: $color-orange-first;
          }
        }
      }

      .article-body {
        margin: 16px 8px 20px;

        p {
          color: $color-grey;
        }
      }

      .article-category {
        @include style-article-categories;
      }

      .article-actions {
        @include style-article-actions(14px);
      }
    }
  }
}

@media (min-width: 368px) {
  #main-read-article {
    .container-wrapper {
      .read-article__wrapper {
        .article-user__details {
          .user-article-time__info {
            margin-right: 88px;
          }
        }
      }
    }
  }
}

@media (min-width: 432px) {
  #main-articles-listing {
    @include style-main-container(64px 28px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 64px 24px 32px;

      .new-article__heading,
      .edit-article__heading {
        h2 {
          font-size: 26px;
        }
      }
    }
  }

  #main-read-article {
    @include style-main-container(82px 16px 40px);
    justify-content: center;

    .container-wrapper {
      padding: 24px 16px;

      .read-article__heading {
        @include style-list-heading(0 0 28px 16px);

        .article-title {
          @include style-header(22px);
        }
      }

      .read-article__wrapper {
        .article-user__details {
          display: grid;
          grid-template-columns: 50px auto 80px;
          grid-gap: 8px;

          .user__image {
            margin: 0;
            img {
              width: 44px;
            }
          }

          .user-article-time__info {
            margin-right: 0;
          }

          .user-follow-btn {
            padding: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: 464px) {
  #main-articles-listing {
    @include style-main-container(64px 36px 32px);

    .container-wrapper {
      .articles-listing-textbox {
        .articles-textbox {
          .textbox-primary {
            margin-bottom: 30px;

            .textbox-primary--main {
              font-size: 32px;
            }

            .textbox-primary--sub {
              font-size: 17px;
            }
          }

          .textbox-btn {
            padding: 10px 18px;
          }
        }
      }

      .articles-listing__heading {
        margin: 28px 0 20px;

        .heading-primary {
          font-size: 26px;
        }
      }

      .article__listing {
        .article__wrapper {
          .article {
            padding: 24px;

            .article-title {
              font-size: 21px;
            }

            .article-body {
              p {
                margin: 16px 0;
              }
            }
          }
        }
      }
    }
  }

  #main-read-article {
    @include style-main-container(118px 28px 80px);
  }
}

@media (min-width: 544px) {
  #main-articles-listing {
    @include style-main-container(68px 44px 32px);

    .container-wrapper {
      .articles-listing-textbox {
        grid-template-columns: 53% 45%;
        grid-gap: 2%;
      }
    }
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 64px 6% 40px;

      .new-article__heading,
      .edit-article__heading {
        h2 {
          font-size: 30px;
        }
      }

      .article-editor__wrapper {
        .new-article {
          .article_description-quill {
            height: 340px;
          }

          .input_checkbox {
            font-size: 14px;
          }

          .new-article__actions {
            input[type="submit"] {
              padding: 8px 12px 6px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  #main-read-article {
    @include style-main-container(112px 32px 48px);

    .container-wrapper {
      padding: 24px 20px;

      .read-article__heading {
        @include style-list-heading(0 0 28px 20px);

        .article-title {
          @include style-header(24px);
        }

        .seperator {
          @include style-seperator(90px);
        }
      }

      .read-article__wrapper {
        .article-user__details {
          .user-article-time__info {
            .user-name {
              font-size: 14px;
            }

            small:nth-of-type(2) {
              font-size: 12px;
            }
          }

          .user-follow-btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  #main-articles-listing {
    @include style-main-container(78px 56px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 64px 8% 40px;

      .article-editor__wrapper {
        .new-article {
          .article_description-quill {
            height: 380px;
          }
        }
      }
    }
  }

  #main-read-article {
    @include style-main-container(128px 64px 48px);

    .container-wrapper {
      padding: 24px;

      .read-article__heading {
        .article-title {
          @include style-header(28px);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #main-articles-listing {
    @include style-main-container(88px 56px 32px);

    .container-wrapper {
      .articles-listing-textbox {
        .articles-textbox {
          .textbox-primary {
            .textbox-primary--main {
              font-size: 36px;
            }
          }
        }
      }

      .articles-listing__heading {
        margin: 32px 0 24px 12px;

        .heading-primary {
          font-size: 28px;
        }
      }

      .article__listing {
        grid-template-columns: repeat(2, 46%);
      }
    }
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 72px 11% 40px;
    }
  }

  #main-read-article {
    @include style-main-container(128px 88px 48px);

    .container-wrapper {
      .read-article__heading {
        .article-title {
          @include style-header(30px);
        }

        .seperator {
          @include style-seperator(100px);
        }
      }
    }
  }
}

@media (min-width: 840px) {
  #main-articles-listing {
    @include style-main-container(96px 72px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 72px 13% 40px;
    }
  }

  #main-read-article {
    @include style-main-container(128px 140px 48px);

    .container-wrapper {
      padding: 24px;

      .read-article__heading {
        .article-title {
          @include style-header(32px);
        }
      }
    }
  }
}

@media (min-width: 960px) {
  #main-articles-listing {
    @include style-main-container(96px 104px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 72px 15% 40px;
    }
  }

  #main-read-article {
    @include style-main-container(128px 200px 48px);
  }
}

@media (min-width: 1024px) {
  #main-articles-listing {
    @include style-main-container(96px 144px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 72px 17% 40px;
    }
  }

  #main-read-article {
    @include style-main-container(128px 240px 48px);
  }
}

@media (min-width: 1200px) {
  #main-articles-listing {
    @include style-main-container(96px 220px 32px);
  }

  #main-new-article,
  #main-edit-article {
    .container-wrapper {
      margin: 72px 24% 40px;
    }
  }

  #main-read-article {
    @include style-main-container(128px 320px 48px);
  }
}
