@import "variables";
@import "base";

@mixin style-btn-container {
  position: absolute;
  top: 24px;
  right: 48px;
}

@mixin style-btn {
  text-decoration: none;
  outline: none;
  background: $color-white;
  cursor: pointer;
  color: $color-orange-second;
  padding: 8px 16px;
  border: 1px solid $color-orange-second;
  border-radius: 6px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
}

@mixin style-btn-hover {
  padding: 9px 18px;
  color: $color-white;
  background: $color-orange-second;
}

// All Categories
#main-category-listing {
  @include style-main-container(0px);

  .container-wrapper {
    @include style-container-wrapper(100px 16px 30px);

    .category-listing__heading {
      @include style-list-heading(32px 0 24px 12px);

      h2 {
        @include style-header(24px);
      }

      .seperator {
        @include style-seperator(100px);
      }
    }

    .new-category {
      @include style-btn-container;

      .new-category__btn {
        @include style-btn;

        &:hover {
          @include style-btn-hover;
        }
      }
    }

    .category__listing {
      @include style-listings-grid(repeat(1, 96%), 20px);
      @include style-listings-temp;

      .category-wrapper {
        @include style-listing-wrapper;

        .no-decoration {
          text-decoration: none;

          .category-content {
            @include style-listing-content;

            h4 {
              font-size: 18px;
              letter-spacing: 2px;
            }

            .category-articles__link {
              @include style-content-link;
            }
          }
        }
      }
    }
  }
}

// Create and Edit Category Modals
#create-new-category-modal,
#edit-category-modal {
  @include style-main-modal-wrapper(480px, 230px);

  .new-category-modal-content,
  .edit-category-modal-content {
    @include style-modal-content(20px 12px);

    #new-category-close,
    #edit-category-close {
      @include style-close-modal-btn;
    }

    .new-category-header,
    .edit-category-header {
      @include style-modal-header;
    }

    .category-form-content {
      .category-form {
        .category-name {
          width: 90%;
          outline: none;
          margin: 1rem 0;
          padding: 1rem;
          background: $color-white;
          border: 1px solid $color-orange-first;
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
        }

        .category-form__actions {
          text-align: right;
          margin: 16px 24px 16px 48px;
          color: $color-orange-first;

          .save-button {
            border: 1px solid $color-orange-first;
            border-radius: 8px;
            padding: 6px 18px 5px;
            background: $color-white;

            &:hover {
              padding: 8px 20px 6px;
              color: $color-white;
              background: $color-orange-second;
            }
          }
        }
      }
    }
  }
}

.category-modal-overlay {
  @include style-modal-overlay;
}

// Single Category
#main-category-articles-listing {
  @include style-main-container(100px 240px 40px);

  .container-wrapper {
    position: relative;

    .listing__heading {
      margin: 0 0 32px 32px;

      .listing-header {
        @include style-header(32px);
        text-transform: capitalize;
      }

      .seperator {
        @include style-seperator(64px);
      }
    }

    .edit-item-category {
      @include style-btn-container;

      .edit-category__btn {
        @include style-btn;

        &:hover {
          @include style-btn-hover;
        }
      }
    }

    .empty-articles__list {
      text-align: center;
      font-size: 20px;
      margin: 25% auto;
    }

    .category-articles__list {
      @include style-listings-grid(repeat(2, 46%), 30px);

      .article__wrapper {
        .article {
          min-height: 100%;
          padding: 24px;
          border-radius: 4px;
          @include style-content-background;

          .article-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;
            color: $color-grey;
          }

          .seperator {
            @include style-seperator(64px);
          }

          .article-meta-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            small {
              font-size: 12px;
              color: $color-grey;
            }

            .article-username {
              text-transform: capitalize;
            }
          }

          .article-body {
            min-height: 50px;

            p {
              font-family: "Montserrat", sans-serif;
              color: $color-grey;
              margin: 16px 0;
            }
          }

          .article-category {
            margin: 10px 0;
            height: 18px;

            .item-category {
              background: $color-whitesmoke;
              border-radius: 16px;
              padding: 6px 8px;
              margin: 0 3px 0 0;

              a {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: -1px;
                color: $color-orange-first;
                margin-top: 10px;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }

          .article-actions {
            display: flex;
            justify-content: space-between;
            margin: 0 3px;

            span {
              a {
                font-size: 12px;
                text-transform: uppercase;
                color: $color-grey;

                &:hover {
                  color: $color-orange-first;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 432px) {
  #main-category-listing {
    .container-wrapper {
      margin: 100px 30px 0;

      .category-listing__heading {
        h2 {
          font-size: 30px;
        }
      }
    }
  }
}

@media (min-width: 544px) {
  #main-category-listing {
    .container-wrapper {
      margin: 100px 30px 0;
    }
  }
}

@media (min-width: 640px) {
  #main-category-listing {
    .container-wrapper {
      .category__listing {
        grid-template-columns: repeat(2, 45%);
      }

      .category-listing__heading {
        margin: 40px 0 32px 32px;

        h2 {
          font-size: 32px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #main-category-listing {
    .container-wrapper {
      margin: 100px 46px 30px;

      .category-listing__heading {
        margin: 0 0 32px 32px;
      }
    }
  }
}

@media (min-width: 960px) {
  #main-category-listing {
    .container-wrapper {
      margin: 100px 60px 30px;

      .category__listing {
        grid-template-columns: repeat(3, 30%);

        .category-wrapper {
          .no-decoration {
            .category-content {
              padding: 24px 20px 32px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1104px) {
  #main-category-listing {
    .container-wrapper {
      margin: 100px 80px 30px;

      .category-listing__heading {
        margin: 0 0 32px 48px;
      }
    }
  }
}
