// $navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Josefin+Sans:400,600|Sofia&display=swap');

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0;

  .container {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      color: #ffffff;
      font-family: "Berkshire Swash", cursive;
      font-size: 24px;
    }

    span {
      background-color: #fff;
      padding: 0.5rem 2rem;
      border-radius: 3px;
      font-size: 1rem;
      margin-left: 50%;

      a {
        color: #000000;
        font-size: 15px;
        font-weight: bold;

        &:hover {
          color: #ff7a00;
          text-decoration: none;
        }
      }
    }
  }
}

.btn-lg {
  font-size: 1.4em;
  background-color: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}

.listing {
  list-style: none;
  padding-left: 10px;
}

.dropdown-menu .divider {
  height: 2px;
}

.dropdown {
  i {
    font-size: 20px;
  }
}

.user-image {
  position: relative;
  margin: 3rem auto 1rem;
}

footer {
  margin-top: 20px;
  padding: 5px auto;

  small {
    float: left;

    p {
      color: #8f9296;
      font-size: 1rem;
      margin: 1rem 0;
      padding: 0 1rem;
    }

    a {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 10px;
      padding: 0 1rem;
    }
  }

  .social-link {
    float: right;

    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      font-size: 20px;
      text-align: center;
      line-height: 15px;
      margin: 0 0.5rem;
    }
  }
}

.item-category {
  text-transform: capitalize;
  letter-spacing: -1px;
  background: whitesmoke;
  padding: 0.5rem;
  color: #777;
}

.input_checkbox input {
  width: auto !important;
}

.category-heading {
  text-transform: capitalize;
}

@media screen and (max-width: 48rem) {
  .navbar-toggle {
    display: none;
  }
}
