@import "variables";
@import "base";

@mixin style-grid($grid, $grid-gap) {
  display: grid;
  grid-template-columns: $grid;
  grid-gap: $grid-gap;
  justify-content: center;
}

#main-dashboard {
  display: grid;
  grid-template-rows: 54px 212px 45px auto;
  flex: 1;

  .container-fluid {
    width: 100%;
    padding: 0;
    margin: 55px auto auto;
    padding: 18px 0 36px;
    background: $color-dark-white;

    .profile-info {
      @include style-grid(150px 420px, 24px);
      width: 100%;
      margin: 0 auto;
      align-items: center;

      .profile-info__content {
        max-width: 420px;
        color: $color-grey;

        .user-name {
          font-weight: bold;
          font-size: 32px;
          margin-top: 16px;
          margin-bottom: 8px;
        }

        .user-email {
          margin-bottom: 8px;
        }

        .user-bio {
          font-size: 14px;
          min-height: 50px;
        }

        .profile-info__action {
          font-size: 16px;
          border: 0.75px solid $color-orange-first;
          border-radius: 5px;
          padding: 8px 12px;
          cursor: pointer;
          text-decoration: none;
          outline: none;
          color: $color-orange-first;
          margin-right: 8px;

          &:hover {
            background-color: $color-orange-first;
            color: $color-white;
          }
        }
      }
    }
  }

  .dashboard-tab__menu {
    grid-row: 3/4;
    background-color: $color-black-primary;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 45px;

    p {
      color: $color-white;
      align-self: center;
      margin: 0 32px;
      padding: 5px 7px;
      cursor: pointer;
    }
    .active {
      border-bottom: 3px solid $color-orange-first;
      padding: 13px 7px 8px;
    }
  }

  .dashboard-tab {
    grid-row: 4/5;
    margin: 40px 160px;
    display: flex;
    flex: 1;
    justify-content: center;

    .main-posts__wrapper {
      flex: 1;

      .main-posts {
        .no-articles {
          text-align: center;
          color: $color-grey;
          font-size: 20px;
          margin-top: 15%;
        }

        .articles-grid {
          @include style-grid(repeat(2, 45%), 30px);

          .article__wrapper {
            .article {
              min-height: 100%;
              background: $color-white;
              box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
              padding: 24px;
              border: 1px solid $color-light-grey;
              border-radius: 4px;

              .article-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.5em;
                color: $color-grey;
              }

              .seperator {
                background: $color-grey;
                width: 100px;
                height: 2px;
                margin: 0 0 1rem;
                border: none;
              }

              .article-meta-details {
                @include style-article-meta-details;
              }

              .article-body {
                min-height: 50px;

                p {
                  font-family: "Montserrat", sans-serif;
                  color: $color-grey;
                  margin: 16px 0;
                }
              }

              .article-category {
                @include style-article-categories;
              }

              .article-actions {
                @include style-article-actions(12px);
              }

              .description {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .main-followers,
    .main-following {
      display: none;
      width: 100%;

      p {
        text-align: center;
        color: $color-grey;
        font-size: 20px;
        margin-top: 15%;
      }
    }
  }
}

@media (min-width: 1200px) {
  #main-dashboard {
    .dashboard-tab {
      .main-posts {
        grid-template-columns: repeat(2, 40%);
      }
    }
  }
}
