@import "variables";
@import "auth_components";

#main-login {
  @include style-main-container("login.jpg");

  .container-fluid {
    @include style-container-fluid;

    .login-form {
      display: flex;
      @include style-auth-form(100%);

      .form-horizontal {
        @include style-form-horizontal;

        .login-header {
          font-size: 18px;
          line-height: 21px;
          text-align: center;
        }

        .col-sm-6 {
          @include style-form-input-fields;
        }

        .login-actions {
          width: 100%;
          display: flex;
          justify-content: space-between;

          p {
            margin-bottom: 10px;

            a:hover {
              @include style-a-tag-hover;
            }
          }

          @include style-a-tag;
        }
      }

      p {
        @include style-p-tag(20px);
      }

      .social-links {
        @include style-social-links;
      }
    }
  }
}

@media (max-width: 432px) {
  #main-login {
    .container-fluid {
      margin-top: 48px;
      
      h2 {
        font-size: 15px;
        margin-bottom: 24px;
      }

      .login-form {
        width: 98%;

        .form-horizontal {
          .login-header {
            font-size: 16px;
            line-height: 18px;
          }

          .col-sm-6 {
            padding-left: 12px;

            input {
              min-width: 248px;
              padding-left: 32px;
            }
          }
        }

        p {
          margin-bottom: 16px;
        }
      }
    }
  }
}
