<div id="edit-category-modal">
  <div class="edit-category-modal-content">
    <div class="edit-category-close-button">
      <span id="edit-category-close"></span>
    </div>
    <div class="edit-category-header">
      <span>Edit Category</span>
    </div>
    <div class="category-form-content">
      <%= render  "form" %> 
    </div>
  </div>
</div>

<div class="category-modal-overlay" id="modal-overlay"></div>
