<%= render 'shared/errors', obj: @category unless @category.nil? %>

<%= form_for(@category || "", :html => {class: "category-form", role: "form"}) do |f| %>
  <%= f.text_field :name, class: "category-name", placeholder: "Category name" %>

  <div class="category-form__actions">
    <%= f.submit class: "save-button" %>
  </div>
<% end %>
