<div class="container">
  <footer class="footer">
    <small class="footer-link">
      <%= link_to "Home", root_path %> | <%= link_to "Blog", articles_path %>
      <p>youBlog &copy; 2019</p>
    </small>
    <div class="social-link">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </footer>
</div>
